
.rick{
  text-align: center;
}

.roll p{
  font-size: 50px;
  font-weight: bold;
}
/*socials*/


.head{
  background-color: rgb(236, 236, 236);
height: 100px;





 
}



.downloadLink a:hover{
  text-decoration: underline;
  }


.nameH{
  float: left;
 
 

 

}
.socials{

  float: right;
  font-size: 25px;
  
 


}
.socials a{
  text-decoration: none;
  
}

.insta{
  color: grey;
  border: none;
  background-color: transparent;
  padding: 10px;
}
.insta:hover{
  color: rgb(194,49,136);
  
}

.git{
  color: grey;
  border: none;
  background-color: transparent;
  padding: 10px;
}
.git:hover{
  color: rgb(0, 0, 0);
  
}

.linked{
  color: grey;
  border: none;
  background-color: transparent;
  padding: 10px;
}
.linked:hover{
  color: rgb(10,102,194);
  
}
.whats{
  color: grey;
  border: none;
  background-color: transparent;
  padding: 10px;
}
.whats:hover{
  color: rgb(20, 218, 13);
  
}
.disc{
  color: grey;
  border: none;
  background-color: transparent;
  padding: 10px;
}
.disc:hover{
  color: rgb(85,98,234);
  
}
.email{
  color: grey;
  border: none;
  background-color: transparent;
  padding: 10px;
}
.email:hover{
  color: rgb(218, 180, 13);
  
}
.copy{
  border-left: 2px solid rgb(250, 204, 46);
}

.colorA{
  color: rgb(39, 177, 190);
}

.colorB{
  color: rgb(250, 204, 46) ;
}

.colorC{
  color: rgb(39, 177, 190) ;
}
.colorD{
  color: rgb(250, 204, 46) ;
  font-weight: bold;
}



/*body*/




.main{
 background-color: rgb(245, 245, 245) ;
  height:2800px;
background-image: url(../public/images/shapes.svg);
  border-top: 2px solid rgb(53, 208, 186);
  border-bottom: 2px solid rgb(53, 208, 186);
}



/*navbar*/

.navbar{
  position: sticky;
  
  background-color:  rgb(250, 204, 46);
  float: left;
width: 250px;
  z-index: 2;
  border-radius: 0px 30px 30px 0px;

 
}
.navbar a{
  text-decoration: none;
  color: black;
  
}
.navbar a:hover{
 
  color: rgb(236, 236, 236);
  
}
.navbar ul{
 
  list-style: none;
 
}
.navbar li{
  font-size: 20px;
  font-family: 'Merienda', cursive;
  padding: 40px;
 
}

.dropdownPList{
  
  display: none;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;

}

.dropdownPList a{
  position: relative;
  padding: 10px;
 
  
}

.dropdownPList a:hover{
color: rgb(39, 177, 190);
  
}

.dropdownProList{
  display: none;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}

.dropdownProList a:hover{
  color: rgb(39, 177, 190);
    
  }

.navbar:hover  .dropdownPList{
 
  display: block;
}
.navbar:hover  .dropdownProList{
  display: block;
}
/*welcome*/

.bodyWelcome{

  clear: right;


  
 
  height: 600px;

  
}

.bodyWelcome h1{
 
  color: rgb(0, 0, 0);
 
  position: relative;
  font-family: 'Annie Use Your Telescope', cursive;
top: 200px;
  text-align: center;
  font-size: 50px;

  
  
}



.welcome{
  color: rgb(53, 208, 186);
  font-weight: bold;
  z-index: 0;
 
}

.star{
  position: relative;
  left: -300px;
  animation: yourAnimation 3s linear 0s normal forwards;
}


@keyframes yourAnimation {

  0.0%{
    transform: translate(-600px, 0) rotate(0deg) scale(1);
}
99.7%{
    transform: translate(400px, -110px) rotate(-20deg) scale(0);
}
  }
  
  
  

/*about*/

.bodyAbout{


  height: 1000px;
  
  border-radius: 2cm 0 0 0;
}


.aboutSection{
  position: relative;
  top: 6cm;
  margin-left: 10px;
}




.bodyAbout h1{
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 50px;
 


}


.bodyAbout p{
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 30px;
  color: rgb(255, 255, 255);
text-align: center;
 float: left;
border: 2px solid;
border-radius: 20px;
background-color: rgb(39, 177, 190);




}





/*slideshow*/


.slideShow{
  height: 800px;
  
}

.slideShow span{
  color: rgb(39, 177, 190);
  font-weight: bold;
}

.certs{
  text-align: center;
  
}

.projects{
  text-align: center;
  height: 800px;
  
}

.projects h1{

  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 50px;
  color: rgb(0, 0, 0);

 
}

.certs h1{
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 50px;
  color: rgb(0, 0, 0);
 
  
}


/*Images*/
.container {

  position: relative;
  top: 8cm;
  margin-left: 10px;
  margin-right: 10px;
 

  
  
  
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  
}
.container:hover .imageM {
  opacity:0.3;
}
.container .imageM:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}


.imageM {

  object-fit:cover;
  
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
  
}



/*Certificates*/
.main3{
 background-color: rgb(245, 245, 245);
  height:1500px;
  background-image: url(../public/images/shapes.svg);

  border-top: 2px solid rgb(53, 208, 186);
  border-bottom: 2px solid rgb(53, 208, 186);
}
.active{
  text-decoration: underline rgb(255, 255, 255);
}

.navL{
  text-align: center;
  position: relative;
  top: 5cm;


}

.navL2{
  text-align: center;
  position: relative;
  top: 5cm;



}


.navL li{


 list-style: none;
  padding: 30px;

}

.navL2 li{


  list-style: none;
   padding: 30px;
 
 }
.proA{
  

  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-family: 'Annie Use Your Telescope', cursive;

}
.navL a{
  position: relative;
 padding: 40px;


 



}

.navL a:hover{
  cursor: pointer;

 }



 .pythonP{
   position: relative;
   top: 12cm;

 }
 .pythonP p{
text-align: center;

font-size: 20px;

color: rgb(255, 255, 255);
background-color: rgb(39, 177, 190);

border: 2px solid;
border-radius: 20px;

margin-left: 10px;
margin-right: 10px;




}


/*Graph*/

.main2{
background-color: rgb(245, 245, 245);
  height:1800px;
  background-image: url(../public/images/shapes.svg);
  
  border-top: 2px solid rgb(53, 208, 186);
  border-bottom: 2px solid rgb(53, 208, 186);
}



.graphPara{
  position: relative;
  top: 210px;
  text-align: center;
  color: rgb(255, 255, 255);
  float: right;
  background-color: rgb(39, 177, 190);

border: 2px solid;
border-radius: 20px;

margin-left: 10px;
margin-right: 10px;

  font-size: 25px;
  font-family: 'Annie Use Your Telescope', cursive;
}


.container2 {

  position: relative;


text-align: left;
  
  

  
}
.container2:hover .graphImage {
  opacity:0.3;
}
.container2 .graphImage:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}

.graphImage{
  position: relative;
  top: 5cm;
  float: left;
  object-fit:cover;
  margin-left: 20px;
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}

.graphImage2{
  position: relative;
  top: 7cm;
float: right;
  object-fit:cover;
  margin-right: 20px;
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
 
  transform-origin:center;
  transform:perspective(800px) rotateY(-25deg);
  transition:0.5s;
}

.graphImage21{
  clear: both;
  position: relative;
  top: 8cm;
float: right;
  object-fit:cover;
  margin-right: 20px;
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
 
  transform-origin:center;
  transform:perspective(800px) rotateY(-25deg);
  transition:0.5s;
}

.graphImage22{
  clear: both;
  position: relative;
  
float: left;
  object-fit:cover;
  margin-right: 20px;
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
 
  transform-origin:center;
  transform:perspective(800px) rotateY(-25deg);
  transition:0.5s;
}




/*Personal*/

.personalPara{
position: relative;
top: 230px;

float: right;
background-color: rgb(39, 177, 190);

border: 2px solid;
border-radius: 20px;

margin-left: 10px;
margin-right: 10px;

  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: 'Annie Use Your Telescope', cursive;
}


/*javascript*/


.container span{
  color: white;
}





/*socials*/


.footer{
  background-color: rgb(236, 236, 236);
  height: 100px;
 

}

.boX{
  text-align: right;
  margin-right: 20px;
 

}

.year{
  text-align: center;
}

.downloadLink{
  
  
  text-align: center;



}

.downloadLink a{
text-decoration: none;
color: black;
font-size: 20px;
}




















@media screen and (max-width:500px) and (min-width:280px) {




  .main{
    background-color: rgb(245, 245, 245);
    height:3200px;
    background-image: url(../public/images/shapes.svg);
  
   
  
 
  }
  .head{
    background-color: rgb(236, 236, 236);
    height: 100px;
   
   
  }
  
  .socials{
    font-size: 20px;
  
    text-align: right;
    
  }


  .navbar{
    
  float: none;
 
width: 100%;
    position: sticky;
    
    
    
    background-color:  rgb(250, 204, 46);
    
    
    z-index: 2;
    border-radius: 0px 0px 0px 0px;
   
  
   
  }
  .navbar a{
    text-decoration: none;
    color: black;
    
  }
  .navbar a:hover{
   
    color: rgb(236, 236, 236);
    
  }
  .navbar ul{
   
    list-style: none;
   
  }
  .navbar li{
    text-align: center;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    padding: 20px;
   
  }

  .dropdownPList a:hover{
    color: rgb(39, 177, 190);
      
    }

    .dropdownProList a:hover{
      color: rgb(39, 177, 190);
        
      }
  .bodyWelcome{
    clear: both;
  }


  .bodyWelcome h1{
    
    color: rgb(0, 0, 0);
   font-weight: bold;
    position: relative;
    font-family: 'Annie Use Your Telescope', cursive;
    top: 200px;
    text-align: center;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
  
    
    
  }
  .bodyAbout{


    height: 1400px;
    border-bottom: 3px white solid;
  }
  .bodyAbout h1{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
  
  }
  .bodyAbout p{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 20px;
  
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
     float: left;
    border: 2px solid;
    background-color: rgb(39, 177, 190);
  
  
  }
  
  .slideShow{
    height: 1000px;
    
  }
  .projects{
    text-align: center;
    height: 800px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .projects h1{

    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 50px;
    color: rgb(0, 0, 0);
    
    font-weight: bold;



margin-left: 10px;
margin-right: 10px;
   
  }
  .certs h1{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-weight: bold;
    margin-left: 10px;
margin-right: 10px;
    
  }
  .main2{
   background-color: rgb(245, 245, 245);
    height:2200px;
    background-image: url(../public/images/shapes.svg);
    
    border-top: 2px solid rgb(53, 208, 186);
    border-bottom: 2px solid rgb(53, 208, 186);
  }

  .main3{
   background-color: rgb(245, 245, 245);
    height:2200px;
    background-image: url(../public/images/shapes.svg);
  
    border-top: 2px solid rgb(53, 208, 186);
    border-bottom: 2px solid rgb(53, 208, 186);
  }
  .navL{
    text-align: center;
    position: relative;
    top: 5cm;
  
  
  }
  .navL2{
    text-align: center;
    position: relative;
    top: 5cm;
    
  
  
  
  }
  .navL2 li{


    list-style: none;
    padding: 30px;
   
   }

   .navL a{
    position: relative;
    padding: 40px;
 
 
  
  
   
  
  
  
  }
  .graphPara{
    position: relative;
    top: 220px;
    text-align: center;
    color: rgb(255, 255, 255);
    float: right;
    background-color: rgb(39, 177, 190);

  border: 2px solid;
border-radius: 20px;

margin-left: 10px;
margin-right: 10px;
  
    font-size: 20px;
    font-family: 'Annie Use Your Telescope', cursive;
  }
  .personalPara{
    position: relative;
    top: 220px;
    
    float: right;
    background-color: rgb(39, 177, 190);

    border: 2px solid;
border-radius: 20px;

margin-left: 10px;
margin-right: 10px;
    
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-family: 'Annie Use Your Telescope', cursive;
    }
    .navL a{
      padding: 40px;

      
     
     
     
     }
    
}


