



/*socials*/


.head{
  background-color: rgb(255, 255, 255);
  height: 150px;
 
 
}


.downloadLink a:hover{
  text-decoration: underline;
  }
.socials{
  font-size: 25px;

  text-align: right;
}
.socials a{
  text-decoration: none;
  
}

.insta{
  color: grey;
  border: none;
  background-color: transparent;
  padding: 10px;
}
.insta:hover{
  color: rgb(233, 42, 74);
  
}

.git{
  color: grey;
  border: none;
  background-color: transparent;
  padding: 10px;
}
.git:hover{
  color: rgb(13, 50, 218);
  
}
.whats{
  color: grey;
  border: none;
  background-color: transparent;
  padding: 10px;
}
.whats:hover{
  color: rgb(20, 218, 13);
  
}
.disc{
  color: grey;
  border: none;
  background-color: transparent;
  padding: 10px;
}
.disc:hover{
  color: rgb(92, 13, 218);
  
}
.email{
  color: grey;
  border: none;
  background-color: transparent;
  padding: 10px;
}
.email:hover{
  color: rgb(218, 180, 13);
  
}
.copy{
  border-left: 2px solid rgb(0, 0, 0);
}



/*body*/




.main{
  background-image: url(../public/images/back2.svg);
  height:2800px;
  border-radius: 2cm 0cm 2cm 0cm;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}



/*navbar*/

.navbar{
  border-bottom: 9px solid rgb(255, 255, 255);
 
  
}
.navbar a{
  text-decoration: none;
  color: white;
}
.navbar ul{
  text-align: center;

  list-style: none;

}

.navbar li{


  color: white;
  font-weight: bold;
  padding: 30px;
  font-size: 30px;
  display: inline;
  font-family: 'Annie Use Your Telescope', cursive;

}

/*welcome*/

.bodyWelcome{
 
  height: 800px;
  
}

.bodyWelcome h1{
  color: white;
 
  position: relative;
  font-family: 'Annie Use Your Telescope', cursive;
  top: 200px;
  text-align: center;
  font-size: 70px;

  
  
}

.welcome{
  color: black;
  font-weight: bold;
  text-decoration: underline white;
}


/*about*/

.bodyAbout{


  height: 1000px;
  border-top: 9px rgb(255, 255, 255) solid;
  border-radius: 2cm 0 0 0;
}


.aboutSection{
  position: relative;
  top: 6cm;
  margin-left: 10px;
}



.bodyAbout h1{
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 70px;
  color: white;
  text-decoration: underline;

}


.bodyAbout p{
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 30px;
  color: white;
 


}





/*slideshow*/


.slideShow{
  height: 800px;
  
}


.certs{
  text-align: center;
  
}

.projects{
  text-align: center;
  height: 800px;
}

.projects h1{

  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 70px;
  color: white;
  text-decoration: underline;
 
}

.certs h1{
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 70px;
  color: white;
  text-decoration: underline;
  
}


/*Images*/
.container {

  position: relative;
  top: 8cm;
 

  
  
  
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  
}
.container:hover .imageM {
  opacity:0.3;
}
.container .imageM:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}


.imageM {

  object-fit:cover;
  
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}



/*Certificates*/
.main3{
  background-image: url(../public/images/back2.svg);
  height:1500px;
  border-radius: 2cm 0cm 2cm 0cm;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.active{
  text-decoration: underline rgb(255, 0, 0);
}

.navL{
  text-align: center;
  position: relative;
  top: 5cm;


}

.navL2{
  text-align: center;
  position: relative;
  top: 5cm;



}


.navL li{


 list-style: none;
  padding: 30px;

}

.navL2 li{


  list-style: none;
   padding: 30px;
 
 }
.proA{
  

  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-family: 'Annie Use Your Telescope', cursive;

}
.navL a{
  position: relative;
 padding: 40px;


 



}

.navL a:hover{
  cursor: pointer;

 }



 .pythonP{
   position: relative;
   top: 12cm;

 }
 .pythonP p{
text-align: center;
color: white;
font-size: 20px;

}


/*Graph*/

.main2{
  background-image: url(../public/images/back2.svg);
  height:1600px;
  border-radius: 2cm 0cm 2cm 0cm;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}



.graphPara{
  position: relative;
  top: 210px;
  text-align: center;
  color: white;

  font-size: 25px;
  font-family: 'Annie Use Your Telescope', cursive;
}


.container2 {

  position: relative;


text-align: left;
  
  

  
}
.container2:hover .graphImage {
  opacity:0.3;
}
.container2 .graphImage:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}

.graphImage{
  position: relative;
  top: 5cm;
  float: left;
  object-fit:cover;
  margin-left: 20px;
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}

.graphImage2{
  position: relative;
  top: 6cm;
float: right;
  object-fit:cover;
  margin-right: 20px;
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
 
  transform-origin:center;
  transform:perspective(800px) rotateY(-25deg);
  transition:0.5s;
}



/*Personal*/

.personalPara{
position: relative;
top: 210px;

  text-align: center;
  color: white;
  font-size: 25px;
  font-family: 'Annie Use Your Telescope', cursive;
}


/*javascript*/


.container span{
  color: white;
}





/*socials*/


.footer{
  background-color: white;
  height: 100px;
 

}

.boX{
  text-align: right;
  margin-right: 20px;
 

}

.year{
  text-align: center;
}

.downloadLink{
  
  
  text-align: center;



}

.downloadLink a{
text-decoration: none;
color: black;
font-size: 20px;
}


@media screen and (max-width:500px) and (min-width:280px) {




  .main{
    background-image: url(../public/images/back3.svg);
    height:3200px;
    border-radius: 2cm 0cm 2cm 0cm;
   
  
 
  }
  .head{
    background-color: rgb(255, 255, 255);
    height: 100px;
   
   
  }
  
  .socials{
    font-size: 20px;
  
    text-align: right;
  }

  .navbar{
    border-bottom: 3px solid rgb(255, 255, 255);
   
    
  }
  .navbar li{


    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;

  
    font-family: 'Annie Use Your Telescope', cursive;
  
  }
  
  .bodyWelcome h1{
    color: white;
   font-weight: bold;
    position: relative;
    font-family: 'Annie Use Your Telescope', cursive;
    top: 200px;
    text-align: center;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
  
    
    
  }
  .bodyAbout{


    height: 1400px;
    border-bottom: 3px white solid;
  }
  .bodyAbout h1{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 50px;
    color: white;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
  
  }
  .bodyAbout p{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 20px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
   
  
  
  }
  
  .slideShow{
    height: 1000px;
    
  }
  .projects{
    text-align: center;
    height: 800px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .projects h1{

    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 50px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
   
  }
  .certs h1{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 50px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    
  }
  .main2{
    background-image: url(../public/images/back2.svg);
    height:1800px;
    border-radius: 2cm 0cm 2cm 0cm;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .main3{
    background-image: url(../public/images/back2.svg);
    height:1800px;
    border-radius: 2cm 0cm 2cm 0cm;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  .graphPara{
    position: relative;
    top: 20px;
    text-align: center;
    color: white;
  
    font-size: 20px;
    font-family: 'Annie Use Your Telescope', cursive;
  }
  .personalPara{
    position: relative;
    top: 20px;
    
      text-align: center;
      color: white;
      font-size: 20px;
      font-family: 'Annie Use Your Telescope', cursive;
    }
    .navL a{
      padding: 40px;

      
     
     
     
     }
    
}


