

.head{
 background-color: white;
  height: 140px;
}



.header{
  
  width: 10cm;
  font-weight: bold;
  font-family: 'Audiowide', cursive;
  
  
}


.buttons{
  
  position: relative;


  text-align: right;

  
}
.insta{
  border: none;
  background-color: transparent;
  font-size: 30px;
color: black;

}
.insta:hover{
  color: rgb(255, 2, 44);
  border: none;
  background-color: transparent;
  font-size: 25px;

}
.git{
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: black;
  
}
.git:hover{
  color: rgb(2, 48, 255);
  border: none;
  background-color: transparent;
  font-size: 25px;
  
}
.whats{
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: black;

}
.whats:hover{
  color: rgb(124, 255, 2);
  border: none;
  background-color: transparent;
  font-size: 25px;

}
.email{
  position: relative;
  font-family: 'Audiowide', cursive;
  color: black;
 float: right;
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.email:hover{
  

  color: rgb(255, 208, 0);
  border: none;
  background-color: transparent;
  
}

.copied{
  display: none;
  float: right;
  

  border-radius: 1cm;
  z-index: 2;
}
.email:active + .copied{
  

 display: block;
  
}
.headerL{
  
  position: relative;

  border-width: 2px;
  
}




/* This is the Grid-Layout*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  
  height: 500px;


  
  
  
}
/* This is the Nav-Links*/
.grid-item {
  display: grid;
  width: 300px;
  height: 300px;
  font-size: 20px;
  font-family: 'Audiowide', cursive;
  border: 7px solid rgba(0, 0, 0, 0.8);
  box-shadow: 5px 10px #4ffa00;
  background-color: white;
  
}
.grid-item2 {
  display: grid;
  width: 300px;
  height: 300px;
  font-size: 20px;
  font-family: 'Audiowide', cursive;
  border: 7px solid rgba(0, 0, 0, 0.8);
  box-shadow: 5px 10px #fa0000;
  background-color: white;
  text-align: left;
  
}
.grid-item3 {
  position: relative;
  display: grid;
  width: 300px;
  height: 200px;
  font-size: 20px;
  
  font-family: 'Audiowide', cursive;
  border: 7px solid rgba(0, 0, 0, 0.8);
  box-shadow: 5px 10px #fa0000;
  background-color: white;
  text-align: left;
  
}
.grid-item21 {
  position: relative;
  display: grid;
  width: 300px;
  height: 200px;
  font-size: 20px;
  top: 5cm;
  font-family: 'Audiowide', cursive;
  border: 7px solid rgba(0, 0, 0, 0.8);
  box-shadow: 5px 10px #fa0000;
  background-color: white;
  text-align: left;
  
}
.grid-item31 {
  position: relative;
  display: grid;
  width: 300px;
  height: 200px;
  font-size: 20px;
top: 5cm;
  font-family: 'Audiowide', cursive;
  border: 7px solid rgba(0, 0, 0, 0.8);
  box-shadow: 5px 10px #fa0000;
  background-color: white;
  text-align: left;
  
}

.info{
  position: relative;
  font-size: 15px;
  top: 3cm;
}
.grid-item li{
  position: relative;
  list-style: none;
 

  
  
}

.study{
  color: white;
}
.grid-item a{

 color: black;
text-decoration: none;
 
  
  
  
}
.grid-item a:hover{

  color: rgb(255, 255, 255);
  background-color: black;
 text-decoration: none;
  
   
   
   
 }


/* This is the Home-Body*/
.grid-itemM{
  display: grid;
  width: 600px;
  height: 800px;
  font-size: 20px;
  
  font-family: 'Audiowide', cursive;
  border: 7px solid rgba(0, 0, 0, 0.8);
  box-shadow: 5px 10px #00f2fa;


  
 
}
.grid-itemMU{
  display: grid;
  width: 600px;
  height: 1200px;
  font-size: 20px;
  
  font-family: 'Audiowide', cursive;
  border: 7px solid rgba(0, 0, 0, 0.8);
  box-shadow: 5px 10px #00f2fa;

  
 
}
.grid-itemMU3{
  display: grid;
  width: 600px;
  height: 900px;
  font-size: 20px;
  
  font-family: 'Audiowide', cursive;
  border: 7px solid rgba(0, 0, 0, 0.8);
  box-shadow: 5px 10px #00f2fa;

 
}
.grid-itemMU2{
  display: grid;
  width: 600px;
  height: 1600px;
  font-size: 20px;
  
  font-family: 'Audiowide', cursive;
  border: 7px solid rgba(0, 0, 0, 0.8);
  box-shadow: 5px 10px #00f2fa;

}
.grid-itemMU4{
  display: grid;
  width: 600px;
  height: 2300px;
  font-size: 20px;
  
  font-family: 'Audiowide', cursive;
  border: 7px solid rgba(0, 0, 0, 0.8);
  box-shadow: 5px 10px #00f2fa;
  
  
 
}



.Homeheader{
  position: relative;
  top: 7cm;
  height: 6cm;
color: rgb(0, 0, 0);
  text-align: center;
  border: rgb(0, 0, 0) 3px  solid;
  background-color: white;


 
}
.change{
  animation: color-change 1s infinite;
  text-shadow: rgb(0, 0, 0) 2px 2px;
}


@keyframes color-change {
  0% { color: #FF2626; }
  25% { color: #55FF00; }
  50% { color: #28FFFB; }
  100% { color: #FF0089; }
}


/* This is the About Grid*/


.About{
 
  position: relative;
  top: 3cm;
  height: 16cm;
color: rgb(0, 0, 0);
  text-align: center;
  border: rgb(0, 0, 0) 3px  solid;
  background-color: white;
}

.left{
 text-align: center;
}


.right{
  text-align: center;
}
/* This is the Cert Grid*/



.navC{
 position: relative;
 top: 2cm;
 height: 100px;

  text-align: center;
  border: rgb(0, 0, 0) 3px  solid;
  background-color: white;

}

.navC li{
 list-style: none;


}
.navC a{
  color: black;
text-decoration: none;
 
 }
 
 .navC a:hover{

  color: rgb(255, 255, 255);
  background-color: black;
 text-decoration: none;
  
   
   
 }


.card1{

  text-align: center;
  width: 250px;
  border: black 2px solid;
  background-color: #4ffa00
}

.box1{
 position: relative;
 display: grid;
 place-content: center;
}
.box2{
 position: relative;
 display: grid;
 place-content: center;

 
}
.box3{
  position: relative;
  display: grid;
  place-content: center;
 
  
 }
.card2{
 
  text-align: center;
  width: 250px;
  border: black 2px solid;
  background-color: #00d8ff
  
}

.card3{
 
  text-align: center;
  width: 250px;
  border: black 2px solid;
  background-color: #fa0000;
  
}


/* This is the Project Grid*/
.imageBox{
  position: relative;
  top: 1cm;
  height: 12cm;
color: rgb(0, 0, 0);
  text-align: center;
  border: rgb(0, 0, 0) 3px  solid;
  background-color: white;

}

.contentN{
  position: relative;
  top: 1cm;
bottom: 5cm;
  height: 23cm;
color: rgb(0, 0, 0);
  text-align: center;
  border: rgb(0, 0, 0) 3px  solid;
  background-color: white;

}
.imgC{
text-align: center;
}



.container{
  width:250px;
  height:250px;
  margin:20px auto 0 auto;
  background:#222;

  display:flex;
  align-items: center;
  justify-content: center;
}

.react-logo{
  display: inline-block;
  border-radius:50%;
  border:10px solid #00d8ff;

  animation-name:rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

.react-logo , .react-logo:before , .react-logo:after{
  position:absolute;
  display: inline-block;
  width:200px;
  height:70px;
  border-radius:50%;
  border:10px solid #00d8ff;
}

.nucleo , .react-logo , .react-logo:before , .react-logo:after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nucleo{
  width:40px;
  height:40px;
  border-radius:100%;
  background:#00d8ff;
}

.react-logo:before , .react-logo:after{
  content:"";
}

.react-logo:after{
  transform:rotate(-57deg);
}

.react-logo:before{
  transform:rotate(57deg);
}


@keyframes rotate{

  100%{
    transform:rotate(360deg);
  }
}

.nextH{
  position: relative;
  top: 1cm;
bottom: 5cm;
  height: 13cm;
color: rgb(0, 0, 0);
  text-align: center;
  border: rgb(0, 0, 0) 3px  solid;
  background-color: white;
}

.responsive{
  position: relative;
  top: 1cm;
bottom: 5cm;
  height: 18cm;
color: rgb(0, 0, 0);
  text-align: center;
  border: rgb(0, 0, 0) 3px  solid;
  background-color: white;
}

.framer{
  position: relative;
  top: 1cm;
bottom: 5cm;
  height: 18cm;
color: rgb(0, 0, 0);
  text-align: center;
  border: rgb(0, 0, 0) 3px  solid;
  background-color: white;
}





@media screen and (max-width:850px) and (min-width:280px) {
  .head{
 
    height: 140px;
    width: 800px;
  }
  
  
  
  .grid-itemM{
    position: relative;
    display: grid;
    width: 800px;
    height: 800px;
    font-size: 20px;
   
 top: 9cm;
right: 15.9cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #00f2fa;
    
   
    
   
  }
  .grid-item {
    display: grid;
    width: 600px;
    height: 300px;
    font-size: 20px;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #4ffa00;
    background-color: white;
    
  }
  .grid-item2 {
    position: relative;
    display: grid;
    width: 800px;
    height: 200px;
    font-size: 20px;
    top: 40cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #fa0000;
    background-color: white;
    text-align: left;
    
  }
  .grid-item21 {
    position: relative;
    display: grid;
    width: 800px;
    height: 200px;
    font-size: 20px;
    top: 20cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #fa0000;
    background-color: white;
    text-align: left;
    
  }
  .info{
    position: relative;
    font-size: 15px;
    top: 4cm;
   
  }
  .grid-item3 {
    position: relative;
    display: grid;
    width: 800px;
    height: 200px;
    font-size: 20px;
    top: 40cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #fa0000;
    background-color: white;
    text-align: left;
    
  }
  .grid-item31 {
    position: relative;
    display: grid;
    width: 800px;
    height: 200px;
    font-size: 20px;
    top: 30cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #fa0000;
    background-color: white;
    text-align: left;
    
  }
  .grid-item32 {
    position: relative;
    display: grid;
    width: 800px;
    height: 200px;
    font-size: 20px;
    top: 58cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #fa0000;
    background-color: white;
    text-align: left;
    
  }
 
  .grid-itemMU{
    position: relative;
    display: grid;
    width: 800px;
    height: 1200px;
    font-size: 20px;
    top: 9cm;
    right: 15.9cm;
    
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #00f2fa;
    
   
  }
  .grid-itemMU2{
    position: relative;
    display: grid;
    width: 800px;
    height: 1600px;
    font-size: 20px;
    top: 9cm;
    right: 15.9cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #00f2fa;
   
   
  }
  .grid-itemMU3{
    position: relative;
    display: grid;
    width: 800px;
    height: 750px;
    font-size: 20px;
    top: 9cm;
right: 15.9cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #00f2fa;
   
    
   
  }
  .grid-itemMU4{
    position: relative;
    display: grid;
    width: 800px;
    height: 2300px;
    font-size: 20px;
    top: 9cm;
    right: 15.9cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #00f2fa;
    
    
   
}
}













@media screen and (max-width:600px) and (min-width:280px) {
  .head{
 
    height: 140px;
    width: 600px;
  }
  
  
  
  .grid-itemM{
    position: relative;
    display: grid;
    width: 600px;
    height: 800px;
    font-size: 20px;
   
 top: 9cm;
right: 15.9cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #00f2fa;
    
   
    
   
  }
  .grid-item {
    display: grid;
    width: 600px;
    height: 300px;
    font-size: 20px;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #4ffa00;
    background-color: white;
    
  }
  .grid-item2 {
    position: relative;
    display: grid;
    width: 600px;
    height: 200px;
    font-size: 20px;
    top: 40cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #fa0000;
    background-color: white;
    text-align: left;
    
  }
  .grid-item21 {
    position: relative;
    display: grid;
    width: 600px;
    height: 200px;
    font-size: 20px;
    top: 20cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #fa0000;
    background-color: white;
    text-align: left;
    
  }
  .info{
    position: relative;
    font-size: 15px;
    top: 4cm;
   
  }
  .grid-item3 {
    position: relative;
    display: grid;
    width: 600px;
    height: 200px;
    font-size: 20px;
    top: 40cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #fa0000;
    background-color: white;
    text-align: left;
    
  }
  .grid-item31 {
    position: relative;
    display: grid;
    width: 600px;
    height: 200px;
    font-size: 20px;
    top: 30cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #fa0000;
    background-color: white;
    text-align: left;
    
  }
  .grid-item32 {
    position: relative;
    display: grid;
    width: 600px;
    height: 200px;
    font-size: 20px;
    top: 58cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #fa0000;
    background-color: white;
    text-align: left;
    
  }
 
  .grid-itemMU{
    position: relative;
    display: grid;
    width: 600px;
    height: 1200px;
    font-size: 20px;
    top: 9cm;
    right: 15.9cm;
    
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #00f2fa;
    
   
  }
  .grid-itemMU2{
    position: relative;
    display: grid;
    width: 600px;
    height: 1600px;
    font-size: 20px;
    top: 9cm;
    right: 15.9cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #00f2fa;
   
   
  }
  .grid-itemMU3{
    position: relative;
    display: grid;
    width: 600px;
    height: 750px;
    font-size: 20px;
    top: 9cm;
right: 15.9cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #00f2fa;
   
    
   
  }
  .grid-itemMU4{
    position: relative;
    display: grid;
    width: 600px;
    height: 2300px;
    font-size: 20px;
    top: 9cm;
    right: 15.9cm;
    font-family: 'Audiowide', cursive;
    border: 7px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 10px #00f2fa;
    
    
   
}
}